<h2 class="section-title text-center">
    <img src="{{ '/img/ternura-croche-s.png' | prepend: site.baseurl }}" title="{{ site.title }}"/>
</h2>
<div class="lead text-center">
    <div class="widget">
        <ul class="social social-bg social-s social-sub">
            {% for social in site.social %}
            <li>
                <a href="{{ social[1].url }}" target="_blank" title="{{ social[1].title }}">
                    <i class="fa fa-{{ social[0] }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    Aceitamos encomendas.
</div>