<!-- Scripts -->
<script type="text/javascript" src="{{ '/3rd/jquery.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/3rd/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript"
        src="{{ '/3rd/revolution/js/jquery.themepunch.tools.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript"
        src="{{ '/3rd/revolution/js/jquery.themepunch.revolution.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/plugins.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
<script src="https://use.fontawesome.com/f5efd71305.js"></script>

{% include google-analytics.html %}
<!-- Scripts -->