<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>
<div class="content-wrapper">

  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">
        <img src="img/ternura-croche-s.png" title="Ternura em Crochê"/>
      </h2>
      <div class="lead text-center">
        <div class="widget">
          <ul class="social social-bg social-s social-sub">
            <li><a href="https://www.facebook.com/ternuraemcroche" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
            <!--<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>-->
            <li><a href="https://api.whatsapp.com/send?phone=5561981553872" target="_blank"  title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="mailto:ternuraemcroche@gmail.com" title="Email"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        Aceitamos encomendas2.
        <br />
        <small class="small">Clique nas imagens para ver mais detalhes.</small>
      </div>
      <div class="space30"></div>
      <div class="portfolio grid-view">
        <div class="isotope-filter button-group text-center" data-target=".grid-1">
          <ul>
            <li><a class="button active" data-filter="*">Todos</a></li>
            <li><a class="button" data-filter=".boneca">Bonecas</a></li>
            <li><a class="button" data-filter=".personagem">Personagens</a></li>
            <li><a class="button" data-filter=".unicornio">Unicórnios</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="tiles tiles-m">
          <div class="isotope row grid-1">
            <div class="item grid-sizer col-sm-6 col-md-4 unicornio">
              <figure class="overlay overlay9">
                <a href="#unicornio3" data-toggle="modal" data-target="#unicornio3"></a>
                <img src="img/portifolio/unicornio_3/1.jpg" alt="Unicórnio colorido"/>
                <figcaption>
                  <h4>Unicórnio colorido</h4>
                  <div class="meta mb-0">Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 personagem">
              <figure class="overlay overlay9">
                <a href="#personagem2" data-toggle="modal" data-target="#personagem2"></a>
                <img src="img/portifolio/personagem_2/1.jpg" alt="Pucca"/>
                <figcaption>
                  <h4>Pucca</h4>
                  <div class="meta mb-0">Cerca de 19cm altura e 17cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 boneca">
              <figure class="overlay overlay9">
                <a href="#boneca3" data-toggle="modal" data-target="#boneca3"></a>
                <img src="img/portifolio/boneca_3/1.jpg" alt="Boneca loirinha"/>
                <figcaption>
                  <h4>Boneca loirinha</h4>
                  <div class="meta mb-0">Cerca de 17cm de altura e 13cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 boneca">
              <figure class="overlay overlay9">
                <a href="#boneca4" data-toggle="modal" data-target="#boneca4"></a>
                <img src="img/portifolio/boneca_4/1.jpg" alt="Boneca de cabelo solto"/>
                <figcaption>
                  <h4>Boneca de cabelo solto</h4>
                  <div class="meta mb-0">Cerca de 17cm de altura e 13cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 boneca">
              <figure class="overlay overlay9">
                <a href="#boneca1" data-toggle="modal" data-target="#boneca1"></a>
                <img src="img/portifolio/boneca_1/1.jpg" alt="Boneca de macacão"/>
                <figcaption>
                  <h4>Boneca de macacão</h4>
                  <div class="meta mb-0">Cerca de 17cm de altura e 13cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 boneca">
              <figure class="overlay overlay9">
                <a href="#boneca2" data-toggle="modal" data-target="#boneca2"></a>
                <img src="img/portifolio/boneca_2/1.jpg" alt="Boneca de vestido"/>
                <figcaption>
                  <h4>Boneca de vestido</h4>
                  <div class="meta mb-0">Cerca de 17cm de altura e 13cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 unicornio">
              <figure class="overlay overlay9">
                <a href="#unicornio1" data-toggle="modal" data-target="#unicornio1"></a>
                <img src="img/portifolio/unicornio_1/1.jpg" alt="Unicórnio vermelho"/>
                <figcaption>
                  <h4>Unicórnio vermelho</h4>
                  <div class="meta mb-0">Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 personagem">
              <figure class="overlay overlay9">
                <a href="#personagem1" data-toggle="modal" data-target="#personagem1"></a>
                <img src="img/portifolio/personagem_1/1.jpg" alt="Snoopy"/>
                <figcaption>
                  <h4>Snoopy</h4>
                  <div class="meta mb-0">Cerca de 17cm de altura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
            <div class="item grid-sizer col-sm-6 col-md-4 unicornio">
              <figure class="overlay overlay9">
                <a href="#unicornio2" data-toggle="modal" data-target="#unicornio2"></a>
                <img src="img/portifolio/unicornio_2/1.jpg" alt="Unicórnio azul"/>
                <figcaption>
                  <h4>Unicórnio azul</h4>
                  <div class="meta mb-0">Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura.</div>
                  <!-- /.meta -->
                </figcaption>
              </figure>
            </div>
            <!-- /column -->
          </div>
          <!--/.row -->

        </div>
        <!--/.tiles -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="boneca1" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Boneca de macacão</h2>
              <p>Cerca de 17cm de altura e 13cm de largura. Tempo de execução 16hs.</p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/boneca_1/1.jpg" alt="Boneca de macacão"></li>
                <li><img src="img/portifolio/boneca_1/2.jpg" alt="Boneca de macacão"></li>
                <li><img src="img/portifolio/boneca_1/3.jpg" alt="Boneca de macacão"></li>
                <li><img src="img/portifolio/boneca_1/4.jpg" alt="Boneca de macacão"></li>
                <li><img src="img/portifolio/boneca_1/5.jpg" alt="Boneca de macacão"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="boneca2" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Boneca de vestido</h2>
              <p>Cerca de 17cm de altura e 13cm de largura. Tempo de execução 16hs.</p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/boneca_2/1.jpg" alt="Boneca de vestido"></li>
                <li><img src="img/portifolio/boneca_2/2.jpg" alt="Boneca de vestido"></li>
                <li><img src="img/portifolio/boneca_2/3.jpg" alt="Boneca de vestido"></li>
                <li><img src="img/portifolio/boneca_2/4.jpg" alt="Boneca de vestido"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="unicornio1" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Unicórnio vermelho</h2>
              <p> Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura. Tempo de execução 20hs. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/unicornio_1/1.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/2.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/3.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/4.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/5.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/6.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/7.jpg" alt="Unicórnio vermelho"></li>
                <li><img src="img/portifolio/unicornio_1/8.jpg" alt="Unicórnio vermelho"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="unicornio2" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Unicórnio azul</h2>
              <p> Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura. Tempo de execução 20hs. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/unicornio_2/1.jpg" alt="Unicórnio azul"></li>
                <li><img src="img/portifolio/unicornio_2/2.jpg" alt="Unicórnio azul"></li>
                <li><img src="img/portifolio/unicornio_2/3.jpg" alt="Unicórnio azul"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="personagem1" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Snoopy</h2>
              <p> Cerca de 17cm de altura. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/personagem_1/1.jpg" alt="Snoopy"></li>
                <li><img src="img/portifolio/personagem_1/2.jpg" alt="Snoopy"></li>
                <li><img src="img/portifolio/personagem_1/3.jpg" alt="Snoopy"></li>
                <li><img src="img/portifolio/personagem_1/4.jpg" alt="Snoopy"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="unicornio3" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Unicórnio colorido</h2>
              <p> Cerca de 32cm de altura deitado, 22cm sentado e 23cm de largura. Tempo de execução 20hs. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/unicornio_3/1.jpg" alt="Unicórnio colorido"></li>
                <li><img src="img/portifolio/unicornio_3/2.jpg" alt="Unicórnio colorido"></li>
                <li><img src="img/portifolio/unicornio_3/2.jpg" alt="Unicórnio colorido"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="personagem2" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Pucca</h2>
              <p> Cerca de 19cm de altura e 17cm de largura. Tempo de execução 16hs. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/personagem_2/1.jpg" alt="Pucca"></li>
                <li><img src="img/portifolio/personagem_2/2.jpg" alt="Pucca"></li>
                <li><img src="img/portifolio/personagem_2/3.jpg" alt="Pucca"></li>
                <li><img src="img/portifolio/personagem_2/4.jpg" alt="Pucca"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="boneca3" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Boneca loirinha</h2>
              <p>Cerca de 17cm de altura e 13cm de largura. Tempo de execução 16hs.</p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/boneca_3/1.jpg" alt="Boneca loirinha"></li>
                <li><img src="img/portifolio/boneca_3/2.jpg" alt="Boneca loirinha"></li>
                <li><img src="img/portifolio/boneca_3/3.jpg" alt="Boneca loirinha"></li>
                <li><img src="img/portifolio/boneca_3/4.jpg" alt="Boneca loirinha"></li>
                <li><img src="img/portifolio/boneca_3/5.jpg" alt="Boneca loirinha"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="boneca4" tabindex="-1"
             role="dialog"><a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Boneca de cabelo solto</h2>
              <p>Cerca de 17cm de altura e 13cm de largura. Tempo de execução 16hs.</p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="img/portifolio/boneca_4/1.jpg" alt="Boneca de cabelo solto"></li>
                <li><img src="img/portifolio/boneca_4/2.jpg" alt="Boneca de cabelo solto"></li>
                <li><img src="img/portifolio/boneca_4/3.jpg" alt="Boneca de cabelo solto"></li>
                <li><img src="img/portifolio/boneca_4/4.jpg" alt="Boneca de cabelo solto"></li>
                <li><img src="img/portifolio/boneca_4/5.jpg" alt="Boneca de cabelo solto"></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->
      </div>
      <!--/.portfolio -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->
</div>
<!-- /.content-wrapper -->

{% include footer.html %}


{% include scripts.html %}

</body>
</html>