---
layout: default
---

<div class="text-center lead3">
    Clique nas imagens para ver mais detalhes.
</div>
<div class="space30"></div>
<div class="portfolio grid-view">
    <div class="isotope-filter button-group text-center" data-target=".grid-1">
        <ul>
            <li><a class="button active" data-filter="*">Todos</a></li>
            {% for categoria in site.data.portifolio.categorias %}
            <li><a class="button" data-filter=".{{ categoria.class }}">{{ categoria.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="tiles tiles-m">
        <div class="isotope row grid-1">
            {% for item in site.data.portifolio.itens %}
            <div class="item grid-sizer col-sm-6 col-md-4 {{ item.category }}">
                <figure class="overlay overlay9">
                    <a href="#{{ item.id }}" data-toggle="modal" data-target="#{{ item.id }}"></a>
                    <img src="{{ '/img/portifolio/' | append: item.id | append: '/1.jpg' | prepend: site.baseurl }}"
                         alt="{{ item.title }}"/>
                    <figcaption>
                        <h4>{{ item.title }}</h4>
                        <div class="meta mb-0">
                            {{ item.description }}
                        </div>
                        <!-- /.meta -->
                    </figcaption>
                </figure>
            </div>
            <!-- /column -->
            {% endfor %}
        </div>
        <!--/.row -->
    </div>
    <!--/.tiles -->

    {% for item in site.data.portifolio.itens %}
    <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="{{ item.id }}" tabindex="-1"
         role="dialog">
        <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
                <h2 class="post-title">{{ item.title }}</h2>
                <p> {% if item.description_full %}{{ item.description_full }}{% else %}{{ item.description }}{% endif
                    %} </p>
                <div class="divide10"></div>
                <ul class="basic-gallery">
                    {% for foto in (1..item.fotos) %}
                    <li>
                        <img src="{{ '/img/portifolio/' | append: item.id | append: '/' | append: foto | append : '.jpg' | prepend: site.baseurl }}"
                             alt="{{ item.title }}"/>"
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--/.modal -->
    {% endfor %}
</div>
<!--/.portfolio -->